
.App {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 15px auto;
}

form input {
  margin: 5px 0;
}
.member-list {
  display: flex;
  flex-wrap: wrap;
}

